[user]
    name = Leonid Svyatov
    email = leonid@svyatov.ru
[color]
    ui = true
[core]
    editor = subl --wait --new-window
    excludesfile = ~/.dotfiles/git/.gitignore_global
    autocrlf = input
[alias]
    a = 'add'
    # Log for current branch
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    # Log for all branches
    la = !git l --all
    st = status --short --branch --untracked-files=all
    co = checkout
    br = branch
    ci = commit --verbose
    ca = commit --verbose --amend
    cp = cherry-pick
    ps = push
    pl = pull --rebase
    rb = rebase -i
    md = merge develop
    mm = merge master
    mf = merge --no-ff
    dt = difftool
    df = diff
    dtc = difftool --cached
    dfc = diff --cached
    cod = checkout develop
    com = checkout master
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
    tool = Kaleidoscope
    # Allow git diff to do basic rename and copy detection
    renames = copies
    # Tell git diff to use mnemonic prefixes (index, work tree, commit, object) instead of the standard a and b notation
    mnemonicprefix = true
[difftool]
    prompt = false
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
[mergetool]
    prompt = false
[merge]
    tool = Kaleidoscope
[difftool "sourcetree"]
    cmd = /Applications/Kaleidoscope.app/Contents/MacOS/ksdiff -w \"$LOCAL\" \"$REMOTE\"
    path =
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[push]
    default = current
